search {
  provider = "elasticsearch"
  es {
    hosts = ["http://elasticsearch7:9200"]
    index = "cortex"
  }
}
http {
  bind = "0.0.0.0"
  port = 9001
}
auth {
  provider = "local"
  local {
    enabled = true
    user {
      default_password = "secret"
    }
  }
}
play.http.secret.key = "changeme"