datacenter = "{{ consul_datacenter }}"
data_dir = "/var/lib/consul"
server = true
bootstrap_expect = {{ consul_bootstrap_expect }}
bind_addr = "{{ ansible_default_ipv4.address }}"
client_addr = "127.0.0.1"
retry_join = ["{{ groups['consul_servers'] | map('extract', hostvars, ['ansible_default_ipv4', 'address']) | join('","') }}"]
{% if consul_encrypt_key | length > 0 %}
encrypt = "{{ consul_encrypt_key }}"
{% endif %}